In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Importing the dataset**

In [4]:
df = pd.read_csv("Social_Network_Ads (1).csv")

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
x = df.iloc[:,[2,3]].values
y = df.iloc[:,4].values

**Splitting the dataset into the Training set and Test set**

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

**Feature Scaling**

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

**Fitting K-NN to the Training set**

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
knnmodel = KNeighborsClassifier(n_neighbors=1)

In [15]:
knnmodel.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

**Predicting the Test set results**

In [17]:
predictions = knnmodel.predict(x_test)

**Making the Confusion Matrix**

In [18]:
from sklearn.metrics import classification_report,confusion_matrix

In [21]:
print(confusion_matrix(y_test,predictions))

[[61  7]
 [ 6 26]]

In [24]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.91      0.90      0.90        68
           1       0.79      0.81      0.80        32

    accuracy                           0.87       100
   macro avg       0.85      0.85      0.85       100
weighted avg       0.87      0.87      0.87       100